<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0ebbfc36-59ca-4d57-b1bc-c02804ef895f/resourceGroups/funcandersonsalckchannel-rg/providers/Microsoft.Web/sites/slackChannelEmpresa</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://slackchannelempresa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>slackchannelempresa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>slackChannelEmpresa</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$slackChannelEmpresa</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>